<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
        <h1>
          <%=image_tag @user.image_url,:size =>'150x150' if @user.image_url? %>
          <%= @user.user_name%>
        </h1>
    </div>    
    <div class="col-sm-6">
      <ul>
        <h2>スケジュール</h2>
        
        <%= @user.title if @user.title %>
        <% if @plan %>
          <% @plan.each do |p| %>
            <%= p.plan %>
            <br>
            <%= p.start_time %>
            <br>
            <%= p.end_time %>
            <br>
            <hr>
          <% end %>
        <% end%>
      </ul>
    </div>
  </div>
</div>