       <h2>スケジュール</h2>
        <%= @chart %>
        <%= timeline @chart %>
        
        <%= @day_schedule.day_schedule %>
        <br>
          <% @time_shcedule.each do |t| %>
            <%= t.time_schedule %>
            <br>
            <%= t.start_time %>
            <br>
            <%= t.end_time %>
            <br>
            <hr>
          <% end %>



          <%= button_to "スケジュール削除",schedule_url(@day_schedule), :confirm => "本当に削除しますか?", :method => :delete, :class => 'btn btn-danger'  %>